<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper">
	
	<resultMap type="map" id="mapList">
		<result column="seq" property="seq"/>
		<result column="mem_id" property="memId"/>
		<result column="mem_name" property="memName"/>
		<result column="board_subject" property="boardSubject"/>
		<result column="board_content" property="boardContent"/>
		<result column="reg_date" property="regDate"/>
		<result column="upt_date" property="uptDate"/>
		<result column="view_cnt" property="viewCnt"/>
		<result column="start" property="start"/>
		<result column="end" property="end"/>
	</resultMap>
	
	<resultMap type="map" id="fileList">
		<result column="file_seq" property="fileSeq"/>
		<result column="real_name" property="realName"/>
		<result column="save_name" property="saveName"/>
		<result column="reg_date" property="regDate"/>
		<result column="save_path" property="savePath"/>
		<result column="list_seq" property="listSeq"/>
	</resultMap>
	
	<sql id="researchSql">
		<if test="searchType == 'writer'">
			AND MEM_NAME LIKE '%'||#{searchContent}||'%'		
		</if>
		<if test="searchType == 'title'">
			AND BOARD_SUBJECT LIKE '%'||#{searchContent}||'%'	
		</if>
		<if test="searchType == 'writerTitle'">
			AND MEM_NAME LIKE '%'||#{searchContent}||'%' OR BOARD_SUBJECT LIKE '%'||#{searchContent}||'%'
		</if>
		
		<choose>
			<when test="startDate == null or startDate == ''"></when>
			<when test="endDate == null or endDate == ''"></when>
			<otherwise>
				AND REG_DATE BETWEEN #{startDate} AND #{endDate} 
			</otherwise>
		</choose>
	</sql>
	
	<select id="list" parameterType="map" resultMap="mapList">
		select
			bss.seq,
			bss.mem_id,
			bss.mem_name,
			bss.board_subject,
			bss.board_content,
			bss.reg_date,
			bss.upt_date,
			bss.view_cnt
		from ( 
			   SELECT ROWNUM RNUM, bs.* 
				from (
						SELECT * FROM  BOARD_STUDY
                		WHERE 1=1
						<include refid="researchSql"/>
						ORDER BY SEQ DESC
		    		 ) bs
			 ) bss
		
		WHERE RNUM BETWEEN #{start} AND #{end}
	</select>
	
	<select id="totalCnt" parameterType="com.study.project.vo.PageVo" resultType="int">
		SELECT COUNT(*) FROM BOARD_STUDY
		WHERE 1=1
		<include refid="researchSql"/>
	</select>
	
	<insert id="insertBoard" parameterType="map">
		INSERT INTO BOARD_STUDY
    		(
    		SEQ, 
    		MEM_NAME, 
    		MEM_ID, 
    		BOARD_SUBJECT, 
    		BOARD_CONTENT,
    		REG_DATE,
    		VIEW_CNT
    		)
   		VALUES
    		(
    		SEQ.NEXTVAL,
    		#{memName},
    		#{memId},
    		#{boardSubject},
    		#{boardContent},
    		SYSDATE,
    		0
    		)
	</insert>
	
	<select id="detail" parameterType="int" resultMap="mapList">
		SELECT 
			SEQ, 
    		MEM_NAME, 
    		MEM_ID, 
    		BOARD_SUBJECT, 
    		BOARD_CONTENT
    	FROM BOARD_STUDY
    	WHERE SEQ = #{seq}
	</select>
	
	<update id="updateBoard" parameterType="map">
		UPDATE  BOARD_STUDY
		    SET
		    MEM_NAME = #{memName},
		    MEM_ID = #{memId},
		    BOARD_SUBJECT = #{boardSubject},
		    BOARD_CONTENT = #{boardContent},
		    UPT_DATE = SYSDATE
		    WHERE SEQ = #{seq}
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM BOARD_STUDY
		WHERE SEQ = #{string}
	</delete>
	
	<insert id="fileUpload" parameterType="map">
		INSERT INTO FILE_STUDY_TABLE
		    (
		    FILE_SEQ,
		    REAL_NAME, 
		    SAVE_NAME, 
		    REG_DATE, 
		    SAVE_PATH, 
		    LIST_SEQ
		    )
		VALUES
		    (
		    (SELECT MAX(FILE_SEQ) FROM FILE_STUDY_TABLE) + 1, 
		    #{realName}, 
		    #{saveName}, 
		    SYSDATE, 
		    #{filePath},
		    #{listSeq}
		    )
	</insert>
	
	<select id="selectSeq" resultType="int">
		SELECT MAX(SEQ) FROM BOARD_STUDY
	</select>
	
	<select id="selectFile" parameterType="String" resultMap="fileList">
		SELECT * FROM FILE_STUDY_TABLE WHERE LIST_SEQ = #{fileSeq}
	</select>
	
	
</mapper>
